table {
    width: 66vw;
    border-collapse: collapse;
    margin-top: 2rem;
}

caption {
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: left;
}

thead th,
tbody th {
    border: 1px solid #ddd;
}

thead td,
tbody td {
    border: 1px solid #ddd;
}

thead th,
tbody th {
    padding: 0.5rem;
}

thead td,
tbody td {
    padding: 0.5rem;
}
thead{
    background-color: #3c89ba;
    color: #fff;
  }
 tbody th {
    background-color: #fffbcf;
  }

 th.version {
    font-size: 1.3rem;
    text-align: center;
  }
 code {
    border: 1px solid rgba(180, 180, 180, .3);
    border-radius: 4px;
    padding: .25rem;
    background-color: #eee;
  }
 code.version{
    border-color: rgba(255, 0, 0, 0.3);
    background-color: rgba(255, 0, 0, 0.15);
  }
